@import 'mixins'

.PostMediaContent
  position: relative
  margin-bottom: 15px
  .slick-list
    overflow: hidden
    border-radius: 5px
  .LockedContentPlug
    position: absolute
    @include inset(0)
    width: 100%
    height: 100%
