@import 'mixins'
@import 'variables'

.Header
  $padding: 20px
  position: fixed
  @include inset(0, 0, unset, 0)
  display: flex
  flex-flow: row nowrap
  align-items: center
  height: $header-height
  padding: $padding $padding $padding 0
  background: #fff
  box-shadow: 0 4px 29px 0 rgba(37, 38, 94, .05)
  z-index: 98
  & > :not(:last-child)
    margin-right: $padding
  &Logo
    height: 38px
    width: 38px
    &Wrapper
      display: flex
      justify-content: center
      align-items: center
      width: $sidebar-width
  .SearchBar
    margin: 0 40px 0 60px
