@import 'mixins'

.Img
  position: relative
  width: 100%
  height: 100%
  overflow: hidden
  img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover
    opacity: 0
    &.isLoaded
      opacity: 1
      transition: all .3s ease-in-out
  .loader
    position: absolute
    top: 0
    left: 0
