.Tabs
  & > li
    display: inline-block
  &__item
    font-size: .75em
    &:not(:last-of-type)
      margin-right: 30px
    button
      text-transform: uppercase
      transition: all .3s ease-in-out
      letter-spacing: 1.2px
      color: #637280
      opacity: .5
      &:hover
        opacity: 1
    &.isActive
      button
        color: #000
        opacity: 1
  .bigTabs &
    &__item
      font-size: 1.12em
      margin-bottom: -2px
      border-bottom: 2px solid transparent
      transition: all .3s ease-in-out
      &:not(:last-of-type)
        margin-right: 35px
      button
        text-transform: unset
        letter-spacing: unset
        opacity: unset
        color: #637280
        padding-bottom: 20px
        transition: inherit
        &:hover
          color: #000
      &.isActive
        border-bottom-color: #7352a1
        button
          color: #7352a1
