@import 'variables'
@import 'mixins'

.AuthenticateModal
  $model-bg-width: 418px
  display: flex
  flex-flow: row
  &__model
    position: relative
    display: flex
    flex-flow: column
    justify-content: center
    align-items: center
    min-width: $model-bg-width
    width: $model-bg-width
    border-radius: $modal-border-radius 0 0 $modal-border-radius
    overflow: hidden
    font-size: 14px
    font-weight: 500
    &-bg.Img
      position: absolute
      @include inset(0)
      z-index: -1
      &::after
        content: ''
        position: absolute
        @include inset(0)
        background: rgba(#000, .5)
      img
        object-fit: cover
    .Logo
      position: absolute
      top: 19px
      left: 38px
      width: 31px
  &__form
    padding: 55px 45px 50px 38px
    .Form
      padding-right: 96px
  &__registerAsModelLink
    display: inline-block
    margin-top: 40px
