.Tariff {
  width: 100%;
  text-align: left;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  overflow: hidden;

  &__header {
    padding: 23px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.37;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 24px;
      position: relative;
      z-index: 1;
    }

    &-price {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 5px;
      height: 60px;
      width: 100px;
      background-color: #fff;
      border-radius: 10px;
      position: relative;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        right: -100%;
        bottom: 50%;
        left: -100%;
        height: 500%;
        background: rgba(#D1DBE2, .15);
        pointer-events: none;
      }
    }
  }

  &__price {
    vertical-align: bottom;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    color: #7352A1;

    span {
      display: inline-block;

      &.small {
        font-size: 12px;
        position: relative;
        top: -1px;
      }
    }
  }

  &__body {
    padding: 0 16px 26px
  }

  &__list {

    &-item {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 3px 6px 4px;

      &:nth-child(even) {
        background-color: rgba(#D1DBE2, .05);
      }

      &.disabled {

        .Tariff__list-txt {
          color: rgba(#D1DBE2, .25);
        }

        .Tariff__list-icon {

          .icon-svg {
            fill: rgba(#D1DBE2, .25);

            &.check {
              display: none;
            }

            &.cross {
              display: block;
            }
          }
        }
      }
    }

    &-icon {
      width: 12px;
      height: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2px;

      .icon-svg {
        width: 10px;
        height: 10px;
        fill: #fff;

        &.check {
          display: block;
        }

        &.cross {
          display: none;
        }
      }
    }

    &-txt {
      padding-left: 5px;
      width: calc(100% - 12px);
      font-size: 12px;
      line-height: 15px;
      color: #FFFFFF;
    }
  }

  &__discount {
    text-align: center;
    margin: 6px 0 17px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    &.zero {
      opacity: .2;
    }
  }

  &__button {
    margin-top: 7px;
    text-align: center;
  }
  
  &__decoration {
    position: absolute;
    top: -40px;
    @media (max-width: 767px) {
      display: none;
    }
  }
}
