.SignUpForm
  .SelectRole
    margin-bottom: 30px

.SelectRole
  display: flex
  flex-direction: row
  align-items: flex-start
  justify-content: space-between
  &__title
    margin-top: 41px !important
    margin-bottom: .7em
    font-size: 1.15em
    font-weight: 500
  &__item
    width: 50%
    label
      &.radio
        border-radius: 10px
        transition: all .15s ease
        padding: 10px
        &:hover
          background: #f5f5f5
  &__roleImage
    display: block
    width: 70%
    margin: auto

