.UserIconWithName
  text-align: center
  .Avatar
    width: 92px
    height: 92px
    margin: 0 auto 15px
  &-name,
  &-nickname
    text-overflow: ellipsis
    overflow: hidden
    display: inline-block
    max-width: 100%
  &-nickname
    margin-top: 2px
