.UploadProfilePhoto {

  .input__error {
    left: auto;
    right: calc(100% + 10px);
    margin-top: -21px;

    @media (max-width: 767px) {
      right: auto;
      margin-top: 0;
      min-width: 230px;
    }
  }

  .ava-upload__label {
    &:hover {
      .UploadProfilePhoto__hover {
        bottom: 0;
        opacity: 1;
      }
    }
  }

  &__hover {
    cursor: pointer;
    transition: all .3s ease-in-out;
    position: absolute !important;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(29, 32, 34, .7);
    color: #fff;
    font-size: 14px;
    line-height: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
}

.ava-upload {
  position: relative;
  width: 160px
}

.ava-upload--square-inherit {
  width: 100%;
  height: 100%
}

.ava-upload--square-inherit .ava-upload__label {
  width: 100%;
  height: 100%;
  border-radius: 5px
}

.ava-upload--square-inherit .ava-upload__label-inner {
  width: 100%;
  max-width: 100%
}

.ava-upload--square-inherit .ava-upload__label-inner svg {
  display: inline;
  margin-right: 5px
}

.ava-upload--bg-photo {
  width: 230px !important
}

.ava-upload--bg-photo .ava-upload__label {
  width: 227px;
  height: 330px;
  border-radius: 5px
}

.ava-upload--wide-photo {
  width: 100% !important
}

.ava-upload--wide-photo .ava-upload__label {
  width: 100%;
  height: 157px;
  border-radius: 5px
}

.ava-upload--wide-photo .ava-upload__label-inner {
  max-width: 100%;
  padding: 0 20px
}

.ava-upload--wide-photo .ava-upload__label-inner svg {
  display: inline;
  margin-right: 5px
}

.ava-upload--square-photo {
  width: 100% !important
}

.ava-upload--square-photo .ava-upload__label {
  width: 100%;
  height: 335px;
  border-radius: 5px
}

.ava-upload--square-photo .ava-upload__label-inner {
  max-width: 100%;
  padding: 0 20px
}

.ava-upload--square-photo .ava-upload__label-inner svg {
  display: inline;
  margin-right: 5px
}

.ava-upload--chat-attach {
  width: 136px
}

.ava-upload--chat-attach .ava-upload__label {
  width: 136px;
  height: 136px;
  border-radius: 5px
}

.ava-upload--chat-attach .ava-upload__label-inner {
  max-width: 90%
}

.ava-upload--chat-attach.err .ava-upload__video-time {
  display: none
}

.ava-upload--chat-attach.err .ava-upload__label.is-loading::before {
  opacity: 0 !important
}

.ava-upload--chat-attach:not(.err):hover .ava-upload__label-delete.hidden {
  opacity: 1
}

.ava-upload--chat-attach:not(.err):hover .ava-upload__label.is-loaded::before {
  opacity: 1
}

.ava-upload__label {
  font-size: 0;
  line-height: 0;
  position: relative;
  display: block;
  overflow: hidden;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-align: center;
  border: 1px solid #d1dbe2;
  will-change: transform;
  border-radius: 50%;
  background: rgba(209, 219, 226, .1);

  & > .Avatar {
    width: 100%;
    height: 100%;
  }
}

.ava-upload__label.hover, .ava-upload__label:hover {
  border-color: #7a848b;
  background: rgba(209, 219, 226, .2);
}

.ava-upload__label:before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

.ava-upload__label.filled {
  cursor: default;
  border: 0;
  background: rgba(209, 219, 226, .1);
}

.ava-upload__label.filled:before {
  display: none
}

.ava-upload__label.video:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 1 !important;
  background: rgba(0, 0, 0, .2) !important
}

.ava-upload__label.video:hover::before {
  background: rgba(0, 0, 0, .5) !important
}

.ava-upload__label.is-loading {
  position: relative
}

.ava-upload__label.is-loading::before {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 1;
  border-radius: 5px;
  background: rgba(0, 0, 0, .5)
}

.ava-upload__label.is-loaded::before {
  opacity: 0
}

.ava-upload__label input {
  display: none
}

.ava-upload__label img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.ava-upload__label-inner {
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  max-width: 64%;
  vertical-align: middle;
  color: rgba(99, 114, 128, .5)
}

.ava-upload__label-inner svg {
  display: block;
  margin: 0 auto;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  vertical-align: middle;
  fill: rgba(99, 114, 128, .5)
}

.ava-upload__label-inner span {
  display: block;
  text-align: center;
  vertical-align: middle
}

.ava-upload__label-inner .red {
  color: #d0021b
}

.ava-upload__label-inner .icon-refresh:hover {
  fill: #637280
}

.ava-upload__label-delete {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 1;
  border-radius: 50%;
  background: rgba(99, 114, 128, .8)
}

.ava-upload__label-delete:hover::after, .ava-upload__label-delete:hover::before {
  background-color: #d0021b
}

.ava-upload__label-delete:after, .ava-upload__label-delete:before {
  position: absolute;
  top: 10px;
  left: 5px;
  display: block;
  width: 10px;
  height: 1px;
  content: '';
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: #fff
}

.ava-upload__label-delete:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.ava-upload__label-delete:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.ava-upload__label-delete.hidden {
  opacity: 0
}

.ava-upload__label-change {
  position: absolute;
  z-index: 2;
  top: 14px;
  right: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 22px;
  height: 22px;
  cursor: pointer;
  border-radius: 50%;
  background: rgba(99, 114, 128, .8);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.ava-upload__label-change svg {
  position: relative;
  z-index: 3;
  width: 12px;
  height: 10px;
  fill: #fff
}

.ava-upload__label .loadedContent {
  width: 100%;
  height: 100%
}

.ava-upload__tooltip {
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  display: block;
  margin: 10px 0 0 0;
  padding: 9px 4px;
  text-align: center;
  color: #000;
  border-radius: 5px;
  border: 1px solid transparent;
  background: rgba(253, 206, 0, .3);
}

.ava-upload__tooltip.green {
  background: #f8fdf4;
  border-color: #eaf8dd;
}

.ava-upload__tooltip.red {
  background: #fdf4f5;
  border-color: #e2616b;
}

.ava-upload__side-tooltip {
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  left: 100%;
  display: block;
  width: 300px;
  margin-left: 15px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #637280
}

.ava-upload__side-tooltip span {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background: #f1f1f1
}

.ava-upload__video-time {
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  z-index: 1;
  right: 10px;
  bottom: 7px;
  color: #fff
}

.ava-upload__progress {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.ava-upload__progress-holder {
  width: 43px;
  height: 43px;
  margin: 0 auto;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 1
}

.ava-upload__progress-holder.is-loaded {
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0
}

.ava-upload__error {
  width: 100%;
  max-width: 0
}

.ava-upload .input__error {
  display: none
}

.ava-upload.error .input__error {
  display: block
}

.ava-upload.error .ava-upload__label {
  border-color: #d0021b
}

.ava-upload__currentAvatar {
  margin-top: 2em;
}

@media (max-width: 767px) {
  .ava-upload__wrapper {
    display: flex;
    flex-flow: row nowrap;
  }

  .ava-upload__currentAvatar {
    margin-top: 0;
    margin-left: 2em;
  }
}
