@import 'mixins'
@import 'variables'

.Sidebar
  position: fixed
  @include inset($header-height, unset, 0, 0)
  width: $sidebar-width
  background: #fff
  box-shadow: 1px 0 0 0 #f0f3f4
  z-index: 97
  padding: 55px 0
  overflow-x: hidden
  overflow-y: scroll
  transition: width .3s ease-in-out
  .NavigationMenu
    &Item
      &:not(:last-of-type)
        margin-bottom: 64px
      a
        display: flex
        align-items: center
        $left-border-width: 3px
        padding: 18px 10px 18px 32px
        border-left: 3px solid transparent
        white-space: nowrap
        transition: none
      &__icon
        display: inline-block
        position: relative
        width: 28px
        height: 28px
        color: #d1dbe2
        svg
          transition: color .2s ease-in-out
      &__label
        margin-left: 15px
        font-size: .75em
        letter-spacing: .1em
        color: rgba(#637280, .5)
        text-transform: uppercase
        opacity: 0
        transition: opacity .3s ease-in-out
        width: 0
      &__counter
        position: absolute
        top: -.6em
        right: -.6em
        border-radius: 50%
        font-size: .6em
        color: #fff
        background: #7352a1
        min-width: 1.6em
        height: 1.6em
        line-height: 1.6em
        text-align: center
      &:hover,
      &.isActive
        .NavigationMenuItem__icon
          color: #7352a1
      &.isActive
        a
          border-left-color: #7352a1
        &__icon
          color: #7352a1
  &.isOpened
    width: 260px
    .NavigationMenu
      &Item
        &__label
          opacity: 1
