$small-chatButton-size: 34.38px

.ChatButton
  &.Button--small
    display: inline-flex
    justify-content: center
    align-items: center
    width: $small-chatButton-size
    height: $small-chatButton-size
    padding: 0
    .icon
      width: 15px
      height: 13px
      transform: translateY(2px)
