.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__holder {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    
    .loader {
      position: absolute;
    }
    
    canvas {
      display: block;
    }
  }
}
