.popup-ava {
  width: 760px;
  padding: 53px 60px 60px
}

.popup-ava__editor {
  width: 100%;
  height: 292px
}

.popup-ava__editor .ava-upload__label-inner {
  padding: 0 75px
}

.popup-ava__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 430px;
  margin: 31px auto 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column
}

.popup-ava__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  color: #000
}

.popup-ava__description {
  font-size: 16px;
  line-height: 15px;
  margin-top: 10px;
  color: #d0021b
}

.popup-ava__range {
  width: 270px;
  max-width: 270px;
  margin-top: 30px
}

.popup-ava__ctrl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  width: 270px;
  max-width: 270px;
  margin-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.popup-ava__ctrl-item {
  width: 50%
}

.popup-ava__ctrl-item:first-child {
  padding-right: 5px
}

.popup-ava__ctrl-item:last-child {
  padding-left: 5px
}

.popup-ava__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.popup-ava__list-item {
  padding: 0 14px
}

.popup-ava__list-item:first-child {
  padding-left: 0
}

.popup-ava__list-item:last-child {
  padding-right: 0
}
