.ConfirmUpgradeSubscriptionModal
  $buttons-gap: 2em
  padding: 30px
  &__button
    &-cancel
      width: calc(40% - #{$buttons-gap / 2})
      margin-right: $buttons-gap
    &-confirm
      width: calc(60% - #{$buttons-gap / 2})
