.SearchBar
  position: relative
  height: 100%
  width: 100%
  &__input
    display: flex
    align-items: center
    input
      font-weight: 400 !important
      font-size: 1em !important
      color: #637280 !important
      border: none !important
      border-radius: unset !important
  &__openButton
    display: inline-block
    height: 22px
    min-width: 22px
    max-width: 22px
    color: #d8dfe5
    z-index: 1
  &__clearButton
    display: none
    position: relative
    width: 22px
    height: 22px
    &:after,
    &:before
      position: absolute
      top: 50%
      left: 50%
      display: block
      width: 24px
      height: 1px
      margin: -1px 0 0 -12px
      content: ''
      background: #637280
    &:before
      transform: rotate(45deg)
    &:after
      transform: rotate(-45deg)
  &__results
    display: none
  &.isResultsOpened
    .SearchBar__openButton
      color: #7352a1
    .SearchBar__results
      display: block
  &.hasQuery
    .SearchBar__clearButton
      display: block

