@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap')
@import 'variables'

html
  background: #fff
  min-width: 320px

body
  font-family: 'IBM Plex Sans', sans-serif
  font-size: 16px
  font-weight: 400
  line-height: 1.4
  color: #343434
  &.ReactModal__Body--open
    overflow: hidden

h1, h2, h3, h4, h5, h6
  &:first-child
    margin-top: 0
h3, h4
  font-weight: 500
h3
  font-size: 22px

button
  padding: 0
  background: none
  border: none
  cursor: pointer

ul
  &:not(.list)
    margin: 0
    padding: 0
    list-style: none
  &.list
    padding-left: 19px
    li
      &:not(:last-of-type)
        margin-bottom: 12px
  &.horizontal
    & > li
      display: inline-block

table
  tbody
    &:empty
      display: none
  td
    vertical-align: top

.hidden
  display: none

*
  box-sizing: border-box

.container
  max-width: 1200px
  margin: 0 auto
  padding: 0 20px

.gray
  color: #637280

.small
  font-weight: 500
  font-size: .75em

.color-violet
  color: #7352a1

.radio
  display: block
  cursor: pointer
  input[type=radio]
    display: none
  input[type=radio]:checked + span:after,
  input[type=radio]:checked + .radio__label:after
    opacity: 1
  span,
  &__label
    display: block
    font-family: 'IBM Plex Sans', sans-serif
    font-size: 12px
    position: relative
    padding: 0 0 0 22px
    user-select: none
  span:before,
  &__label:before
    position: absolute
    top: 1px
    left: 0
    display: block
    width: 14px
    height: 14px
    content: ''
    border: 1px solid #d1dbe2
    border-radius: 50%
    background: 0 0
    box-sizing: border-box
  span:after,
  &__label:after
    position: absolute
    top: 4px
    left: 3px
    display: block
    width: 8px
    height: 8px
    content: ''
    transition: all .3s ease-in-out
    opacity: 0
    border-radius: 50%
    background: #7352a1
  &__text
    font-size: 12px
    font-weight: 500
    line-height: 16px
    display: inline-block
    letter-spacing: 1.2px
  &__sub
    font-size: 14px
    line-height: 18px
    margin-top: 2px
    color: #637280


.col
  font-size: 16px
  line-height: 1.25
  display: inline-block
  width: 100%
  padding: 0 20px
  vertical-align: top

.no-user-select
  user-select: none !important

svg
  width: 100%
  height: 100%
  &.icon
    stroke-width: .08em
    vertical-align: top
    fill: none
    stroke: currentColor
    &.isFilled
      fill: currentColor
      stroke: none
    &.isInline
      font-size: 1.15em
      width: 1em
      height: 1em
      margin-right: .3em

[data-tooltip]
  position: relative
  overflow: visible
  &::before
    content: attr(data-tooltip)
    position: absolute
    top: 100%
    left: 50%
    width: auto
    display: block
    padding: .2em .6em
    font-size: .8em
    visibility: hidden
    transition: all .3s ease-in-out
    transform: translate(-50%, 0)
    opacity: 0
    color: #fff
    border-radius: 2px
    background: rgba(0, 0, 0, .74)
  &::after
    content: ''
    position: absolute
    top: 100%
    left: 50%
    display: block
    visibility: hidden
    margin: -3px 0 0 -3px
    transition: all .3s ease-in-out
    opacity: 0
    border-right: 3px solid transparent
    border-bottom: 3px solid rgba(0, 0, 0, .74)
    border-left: 3px solid transparent
  &:hover
    &::before
      visibility: visible
      margin-top: 10px
      opacity: 1
    &::after
      visibility: visible
      margin-top: 7px
      opacity: 1

.slick-dots
  display: block
  position: absolute
  bottom: -25px
  width: 100%
  padding: 0
  margin: 0
  list-style: none
  text-align: center

.textEnd
  text-align: end

.textCenter
  text-align: center

input:not([type="checkbox"]):not([type="radio"]), select, textarea, button, optgroup
  font-family: 'IBM Plex Sans', sans-serif
input:not([type="checkbox"]):not([type="radio"]), select, textarea
  display: block
  width: 100%
  height: 40px
  padding: 11px $input-padding-h
  font-size: 14px
  line-height: 18px
  color: #343434
  border: 1px solid rgba(99, 114, 128, .5)
  border-radius: 17px
  background-color: #fff
  appearance: none
  transition: all .3s ease-in-out

a
  cursor: pointer
  transition: all .2s ease-in-out
  text-decoration: none
  color: #7352a1
  .theme-light &:not(.Button)
    color: #fff

.Toastify
  user-select: none
  &__close
    &-button
      position: relative
      left: -5px
  &__toast
    min-height: 62px
    box-shadow: 0 4px 29px 0 rgba(37, 38, 94, 0.5)
    padding: 10px
    border-radius: 10px
    width: 100%
    &-body
      width: 100%
      color: #fff
      font-weight: 500
      line-height: 1
      padding-right: 10px
  &__toast
    &--success
      background-color: #51a351
    &--error
      background-color: #bd362f
    &--warning
      background-color: #f89406
    &--info
      background-color: #2f96b4
    &-container
      &.Toastify__toast-container--top-center
        width: 100vw
        max-width: 1200px
        transform: translateX(-50%)
        margin-left: 48px
        padding: 0 20px
        z-index: 50
        @media only screen and (max-width: 1300px)
          max-width: 100%
          padding: 0 20px 0 116px
          margin-left: 0
        @media only screen and (max-width: 1024px)
          padding: 0 20px
        @media only screen and (max-width: 480px)
          transform: none
          padding: 0 10px

.row
  margin-right: -20px
  margin-left: -20px

@media (min-width: 1025px)
  .md-12
    width: 100%
  .md-11
    width: 91.66667%
  .md-10
    width: 83.33333%
  .md-9
    width: 75%
  .md-8
    width: 66.66667%
  .md-7
    width: 58.33333%
  .md-6
    width: 50%
  .md-5
    width: 41.66667%
  .md-4
    width: 33.33333%
  .md-3
    width: 25%
  .md-2
    width: 16.66667%
  .md-1
    width: 8.33333%
  .offset-md-11
    margin-left: 91.66667%
  .offset-md-10
    margin-left: 83.33333%
  .offset-md-9
    margin-left: 75%
  .offset-md-8
    margin-left: 66.66667%
  .offset-md-7
    margin-left: 58.33333%
  .offset-md-6
    margin-left: 50%
  .offset-md-5
    margin-left: 41.66667%
  .offset-md-4
    margin-left: 33.33333%
  .offset-md-3
    margin-left: 25%
  .offset-md-2
    margin-left: 16.66667%
  .offset-md-1
    margin-left: 8.33333%

@media (min-width: 1200px)
  .lg-12
    width: 100%
  .lg-11
    width: 91.66667%
  .lg-10
    width: 83.33333%
  .lg-9
    width: 75%
  .lg-8
    width: 66.66667%
  .lg-7
    width: 58.33333%
  .lg-6
    width: 50%
  .lg-5
    width: 41.66667%
  .lg-4
    width: 33.33333%
  .lg-3
    width: 25%
  .lg-2
    width: 16.66667%
  .lg-1
    width: 8.33333%
  .offset-lg-11
    margin-left: 91.66667%
  .offset-lg-10
    margin-left: 83.33333%
  .offset-lg-9
    margin-left: 75%
  .offset-lg-8
    margin-left: 66.66667%
  .offset-lg-7
    margin-left: 58.33333%
  .offset-lg-6
    margin-left: 50%
  .offset-lg-5
    margin-left: 41.66667%
  .offset-lg-4
    margin-left: 33.33333%
  .offset-lg-3
    margin-left: 25%
  .offset-lg-2
    margin-left: 16.66667%
  .offset-lg-1
    margin-left: 8.33333%
