@import 'variables'

.Input
  display: block
  margin-bottom: 13px
  &__label
    font-size: 13px
    line-height: 15px
    width: 100%
    padding: 0 18px 2px
    transition: all .3s ease-in-out
    white-space: nowrap
    color: rgba(#637280, .5)
  &__control
    &-container
      position: relative
      &.withIcon
        .Input__control
          padding-right: calc(#{$input-padding-h * 1.5} + 1ch)
    &-icon
      position: absolute
      top: 0
      bottom: 0
      height: 1em
      line-height: 1em
      margin: auto
      right: 16px
      color: rgba(#fff, .7)
      svg
        display: block
        width: 1em
        height: 1em
    &__display-password
      transition: all .3s ease-in-out
      z-index: 1
      cursor: pointer
      svg
        color: rgba(#637280, .5)
        .theme-light &
          color: rgba(#fff, .7)
        transition: all .3s ease-in-out
      &:hover
        svg
          color: rgba(#637280, 1)
          .theme-light &
            color: rgba(#fff, 1)
      &.crossed
        &::before
          content: ''
          position: absolute
          top: 7px
          left: 0
          width: 17px
          height: 2px
          background-color: rgba(99, 114, 128, .5)
          transform: rotate(-40deg)
          z-index: 1
  &__error
    font-size: 12px
    line-height: 13px
    position: absolute
    top: 50%
    left: calc(100% + 10px)
    width: 235px
    padding: 13px 13px 13px 43px
    transform: translateY(-50%)
    color: #d0021b
    background-color: #fff
    box-shadow: 0 4px 29px 0 rgba(37, 38, 94, .05)
    z-index: 2
    @media (max-width: 767px)
      position: relative
      top: auto
      left: auto
      width: 100%
      transform: none
      box-shadow: none
      margin-top: 10px
    &-icon
      position: absolute
      top: 10px
      left: 14px
      width: 19px
      height: 16px
      color: #d0021b !important
  &.type-password.allowDisplayPassword input
    padding-right: 45px

.theme-light
  .Input
    &__label
      color: rgba(255, 255, 255, .7) !important
    &__control
      color: #fff !important
      border: 1px solid rgba(255, 255, 255, .7) !important
      background-color: transparent !important
      &:focus
        border-color: rgba(255, 255, 255, 1) !important
