.CurrentUserControls
  &__logInButton
    width: 180px
    color: #ff661b !important
    border-color: transparent
    box-shadow: 0 2px 8px 0 rgba(#000, .06)
    letter-spacing: .1em
    vertical-align: text-bottom
    &:hover
      background: #fff
    .icon.isInline
      margin-right: .5em
      font-size: 1.3em
