.profile-edit__block-bottom
  padding-top: 14px
.profile-edit__inputs-block
  width: 335px
  max-width: 100%
  padding: 0 0 40px 0
.profile-edit__inputs-block-title
  font-size: 14px
  line-height: 18px
  display: block
  padding: 0 0 15px
  color: #000
.profile-edit__inputs-block-row
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  flex-direction: row
  margin: 0 -20px
  -webkit-box-orient: horizontal
  -webkit-box-direction: normal
  -ms-flex-direction: row
.profile-edit__inputs-block-col
  min-width: 375px
  padding: 0 20px
.profile-edit__inputs-block-photo
  margin-bottom: 20px
  &:last-child
    margin-bottom: 0
.profile-edit__in-title
  font-size: 18px
  line-height: 23px
  display: block
  padding: 0 0 15px
  color: #000
.profile-edit__input-row
  padding-bottom: 15px
  &:last-child
    padding-bottom: 0
.profile-edit__top
  font-size: 18px
  line-height: 23px
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  flex-direction: row
  margin: 0 0 26px 0
  padding: 0 0 20px 0
  color: #000
  border-bottom: 2px solid #f1f1f1
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-box-orient: horizontal
  -webkit-box-direction: normal
  -ms-flex-direction: row
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
.profile-edit__top-descr
  font-size: 14px
  line-height: 18px
  padding-left: 10px
  color: rgba(99, 114, 128, .5)
.profile-edit__row
  padding: 0 335px 0 0
  &:after
    display: block
    clear: both
    content: ' '
.profile-edit__row--fs
  padding: 0 !important
.profile-edit__left
  float: left
  width: 100%
  max-width: 710px
.profile-edit__right
  float: right
  width: 335px
  margin: 0 -335px 0 0
  .ava-upload
    margin-left: auto
.profile-edit__bottom
  margin: 40px 0 0 0
  padding: 43px 0 27px
  border-top: 2px solid #f1f1f1
.profile-edit__bottom-row
  padding-bottom: 30px
  &:last-child
    padding-bottom: 0
.profile-edit__logout-link
  font-size: 12px
  line-height: 15px
  display: -webkit-inline-box
  display: -ms-inline-flexbox
  display: inline-flex
  cursor: pointer
  -webkit-transition: all .3s ease-in-out
  -o-transition: all .3s ease-in-out
  transition: all .3s ease-in-out
  letter-spacing: 1.2px
  text-transform: uppercase
  color: rgba(99, 114, 128, .5)
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  &:hover
    color: #637280
    svg
      fill: #637280
  svg
    display: block
    margin-right: 10px
    -webkit-transition: all .3s ease-in-out
    -o-transition: all .3s ease-in-out
    transition: all .3s ease-in-out
    fill: rgba(99, 114, 128, .5)
  span
    line-height: 1
.profile-edit__logout-link--delete
  margin-bottom: 30px
  opacity: .8
  color: #d0021b !important
  svg
    width: 13px
    height: 16px
    fill: #d0021b !important
  &:hover
    opacity: 1
.profile-edit__radios
  padding: 0 0 20px 0
.profile-edit__radiobox
  padding-bottom: 20px
.profile-edit__info-block
  font-size: 14px
  line-height: 18px
  display: inline-block
  margin: 0 0 15px 0
  padding: 16px 20px
  border-radius: 5px
  background: #f1f1f1
  &:last-child
    margin: 0
.profile-edit__social-title
  font-size: 18px
  line-height: 23px
  display: block
  color: #000
.profile-edit__social-subtitle
  font-size: 14px
  line-height: 18px
  display: block
  color: #637280
.profile-edit__social-list
  padding: 15px 0 0 0
.profile-edit__gray-block
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  flex-direction: row
  padding: 15px 20px
  color: #000
  border-radius: 5px
  background: #f1f1f1
  -webkit-box-orient: horizontal
  -webkit-box-direction: normal
  -ms-flex-direction: row
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between
.profile-edit__gray-block-descr
  font-size: 14px
  margin-right: 5px
.profile-edit__gray-block-cost
  font-size: 24px
