.Button
  position: relative
  display: inline-block
  transition: all .2s ease
  color: #7352a1
  background: #fff
  border: .1em solid transparent
  border-radius: 10em
  text-transform: uppercase
  font-size: 12px
  padding: .74em 3em
  font-weight: 600
  letter-spacing: .05em
  cursor: pointer
  font-family: 'IBM Plex Sans', sans-serif
  box-shadow: 0 2px 18px rgba(#000, .15)
  text-align: center
  white-space: nowrap
  line-height: 1.7em
  &:hover
    background: #EAE5F1
    box-shadow: 0 5px 13px 0 rgba(74, 74, 74, .38)
  .icon
    &.isInline
      vertical-align: middle
  svg
    display: inline-block
    fill: currentColor
    height: 1em
    width: auto
    vertical-align: middle
    margin-top: -0.2em
    transition: none
  &__spinner
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    opacity: 0
    display: flex
    flex-direction: row
    align-items: center
    transition: all .1s ease
    pointer-events: none
    & > span
      display: block
      width: 5px
      height: 5px
      border-radius: 50%
      background-color: currentColor
      margin: 0 5px
      animation: none .75s infinite .1s
      &:nth-child(2)
        animation: none .75s infinite .25s
      &:nth-child(3)
        animation: none .75s infinite .5s
  &--spinning
    .Button__text
      opacity: 0
    .Button__spinner
      opacity: 1
      & > span
        animation-name: dots
  &--small
    //padding: .5em .85em
    padding: .5em 3em
  &--theme-orange
    background: #FF661B
    box-shadow: 0 0.84em 1.8em rgba(255, 102, 27, .3)
    color: #fff
    border-color: #FF661B
    &:hover
      background: #e86725
      border-color: #e86725
    .Button__spinner span
      background-color: #fff
  &--theme-purple
    background: #7352a1
    box-shadow: 0 2px 10px 0 rgba(74, 74, 74, .3)
    color: #fff
    border-color: #7352a1
    &:hover
      background: #8c6abc
      border-color: #8c6abc
      color: #fff
      box-shadow: 0 5px 13px 0 rgba(74 ,74, 74, .38)
    .Button__spinner span
      background-color: #fff
    &.Button--outline
      color: #7352a1
      border-color: #7352a1
      &:hover
        color: #fff
      &:active
        color: #7352a1
  &--theme-green
    background: #20ab20
    box-shadow: 0 2px 10px 0 rgba(74, 74, 74, .3)
    color: #fff
    border-color: #20ab20
    &:hover
      background: #1ac51a
      border-color: #1ac51a
      color: #fff
      box-shadow: 0 5px 13px 0 rgba(74 ,74, 74, .38)
    .Button__spinner span
      background-color: #fff
  &--theme-red
    background: #bb1a1a
    box-shadow: 0 2px 10px 0 rgba(74, 74, 74, .3)
    color: #fff
    border-color: #bb1a1a
    &:hover
      background: #d21616
      border-color: #d21616
      color: #fff
      box-shadow: 0 5px 13px 0 rgba(74 ,74, 74, .38)
    .Button__spinner span
      background-color: #fff
  &--outline
    color: #fff
    border-color: #fff
    background: transparent
    &:hover
      color: #7352a1
      background: #EAE5F1
      border-color: #EAE5F1
    &.Button--theme-orange
      color: #FF661B
      box-shadow: none
      border-color: #FF661B
      .Button__spinner span
        background-color: #FF661B
      &:hover
        background: #e86725
        color: #fff
        border-color: #FF661B
        .Button__spinner span
          background-color: #fff
    &[disabled]
      opacity: .4
      background: transparent
  &--transparent
    border: none !important
    background: none !important
    box-shadow: none !important
  &:active
    transition: none
    color: #7352a1
    background: #fff
  &[disabled]
    cursor: not-allowed
    color: #d1dbe2
    border-color: #f1f1f1
    background: #f1f1f1
    box-shadow: none



@keyframes dots
  0%
    transform: scale(1)
    opacity: .6
  30%
    transform: scale(1)
    opacity: .6
  50%
    transform: scale(2)
    opacity: 1
  100%
    transform: scale(1)
    opacity: .6
