@import 'mixins'
$bgColor: #637280

.Avatar
  position: relative
  width: 57px
  min-width: 57px
  height: 57px
  min-height: 57px
  border-radius: 50%
  overflow: hidden
  background-color: $bgColor
  .size-sm
    width: 40px
    min-width: 40px
    height: 40px
    min-height: 40px
  &__Dummy
    position: relative
    &::after
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      border-radius: 50%
      border: 2px solid $bgColor
    &.female
      width: 100%
      height: 100%
  img
    display: block
    width: 100%
    height: 100%
    object-fit: cover
  .loader
    position: absolute
    @include inset(0)
    min-height: unset
