.TipModal
  width: 100%
  max-width: 760px
  padding: 55px
  &__title
    display: flex
    flex-flow: column nowrap
    align-items: center
    justify-content: center
    &-text
      margin-bottom: 25px
      font-size: 1.5em
      font-weight: 500
  .TipForm
    margin-top: 20px
    width: 220px
    .Form__footer
      text-align: center
