.AuthForm
  .Form__footer
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
  &__socialLogin
    margin: 44px 0 41px
    &-title
      white-space: nowrap
      overflow: hidden
      font-size: 12px
      line-height: 15px
      color: rgb(99, 114, 128)
      opacity: .5
      .theme-light &
        color: #fff
        &::after
          background: #f1f1f1
      &::after
        content: ''
        display: inline-block
        width: 100%
        height: 1px
        background: #fff
        vertical-align: middle
        margin-left: 10px
    &-list
      margin-top: 20px
      &-icon
        position: relative
        width: 34px
        height: 34px
        border-radius: 50%
        cursor: pointer
        display: inline-block
        box-shadow: 0 2px 18px 0 rgba(0, 0, 0, .15)
        &::before
          content: ''
          position: absolute
          z-index: 0
          top: 10%
          right: 10%
          bottom: 10%
          left: 10%
          transition: all .3s ease-in-out
          border-radius: 50%
          background-color: #fff
        &:not(:last-of-type)
          margin-right: 16px
        &:hover
          box-shadow: 0 2px 18px 0 rgba(0, 0, 0, .4)
        svg
          position: relative
          z-index: 1
          transition: all .3s ease-in-out
        &:hover
          svg
            fill: #fff
        &-gp
          svg
            fill: #f34a38
          &:hover
            &::before
              background: #f34a38
        &-fb
          svg
            fill: #385c8e
          &:hover
            &::before
              background: #385c8e
    &-holder
      margin-top: 20px
