.Burger
  $height-of-line: 3px
  height: 18px
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -webkit-tap-highlight-color: transparent
  &__lines
    display: block
    height: $height-of-line
    width: 25px
    border-radius: 2px
    transition: .3s
    background: #d8dfe5
    position: relative
    &::before,
    &::after
      content: ''
      position: absolute
      display: inherit
      height: inherit
      width: inherit
      background: inherit
      border-radius: inherit
      transition: inherit
      will-change: transform, width
    &::before
      top: -7px
    &::after
      top: 7px
  &.isActive
    .Burger__lines
      transform: scale3d(.8, .8, .8)
      &::before,
      &::after
        width: 14px
      &::before
        transform: translate3d(-2px, 3px, 0) rotate3d(0, 0, 1, -45deg)
      &::after
        transform: translate3d(-2px, -3px, 0) rotate3d(0, 0, 1, 45deg)
