.ModelCard
  border-radius: 10px
  overflow: hidden
  position: relative
  &__bottom
    padding: 10px 20px 20px
    background: #fff
    &.noButtons
  &__info
  &__name
    color: #000
    font-size: 1.5em
    margin-right: .8ch
  .FavoriteStarButton
    width: 1.2em
    height: 1.2em
    svg
      margin-top: -.2em
  &__nickname
    margin-top: .3em
    font-size: .9em
    color: rgba(#637280, .5)
  &__rates
    margin-top: 5px
    float: right
    font-size: .85em
    &-item
      display: inline-block
      color: #343434
      &:not(:first-child)
        margin-left: .9em
      .icon
        opacity: .35
