.Block
  margin-bottom: 40px
  padding: 15px 20px
  border-radius: 10px
  background: #fff
  &:not(:first-of-type)
    margin-top: 40px
  &__top
    display: flex
    flex-direction: row
    margin: 0 -20px 20px
    padding: 0 20px 15px
    justify-content: space-between
    align-items: center
  &__title
    display: block
    margin: 0
    font-size: 24px
    line-height: 32px
    color: #000
    font-weight: 400
  &.withTopBorder
    .Block__top
      border-bottom: 1px solid #f1f1f1
  .Post
    padding-left: 0
    padding-right: 0
  &.bigTabs
    .Block__top
      padding-bottom: 0
    &.withTopBorder
      .Block__top
        border-bottom-width: 2px
