@import 'mixins'

.TipsGrid
  &__list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 14px
    &-item
      position: relative
      min-width: 100%
      padding: 20px
      border-radius: 5px
      overflow: hidden
      height: 340px
      font-size: .8em
      color: #fff
      &-bg,
      &-top,
      &-bottom
        position: absolute
        @include inset(0)
      &-top,
      &-bottom
        display: flex
        justify-content: space-between
        align-items: center
      &-bg
        width: 100%
        object-fit: cover
      &-top
        bottom: unset
        padding: 15px 20px 50px
        background: linear-gradient(0deg, rgba(#000, 0), rgba(#000, .8))
      &-bottom
        top: unset
        padding: 50px 20px 15px
        background: linear-gradient(0deg, rgba(#000, .8), rgba(#000, 0))
        font-size: 1.1em
