.slick-slider
  &:hover
    .slick-arrow
      &::before
        opacity: 1 !important

.slick-arrow
  z-index: 2
  opacity: 1
  height: 85%
  width: 60px
  overflow: hidden
  @media (max-width: 767px)
    display: none !important
  &:hover
    &:after
      opacity: 1 !important
  &.slick-disabled
    opacity: 0 !important
    pointer-events: none
  &::before
    transition: all .3s ease-in-out
    content: ''
    z-index: 3
    width: 30px
    height: 30px
    display: block
    position: absolute
    top: 50%
    left: 50%
    opacity: 0 !important
    border-left: 2px solid #FFF
    border-top: 2px solid #FFF
  &::after
    transition: all .3s ease-in-out
    content: ''
    width: 120px
    height: 100%
    position: absolute
    top: 0
    background-color: rgba(0, 0, 0, 0.6)
    z-index: 0
    opacity: 0 !important
    @media (max-width: 768px)
      display: none

.slick-prev
  left: 0
  &::before
    transform: translate(-50%, -50%) rotate(-45deg)
  &::after
    left: -60px
    border-radius: 0 100% 100% 0px / 0px 75% 75% 0
.slick-next
  right: 0
  &::before
    transform: translate(-50%, -50%) rotate(135deg)
  &::after
    right: -60px
    border-radius: 100% 0 0 100% / 75% 0 0 75%

.slick-dots
  float: right
  bottom: -35px
  right: 0
  box-shadow: inset
  margin-right: -5px
  position: absolute !important
  @media (max-width: 768px)
    bottom: -30px
  li
    margin: 0
    &.slick-active
      button
        &::before
          color: #8c6abc !important
          opacity: 1 !important
    &.small
      button
        &::before
          font-size: 5px !important
    button
      position: relative
      &:hover
        &::before
          opacity: .5
          @media (max-width: 768px)
            opacity: .25
            color: #000

.magic-dots.slick-dots li button::before
  font-size: 9px

.slick-slide
  &:not(.slick-active)
    .video-react
      display: none !important
