.SocialLogin
  display: flex
  flex-flow: row nowrap
  &__item
    width: calc(50% - 10px)
    margin-right: 20px
    &:nth-child(even)
      margin-right: 0
    &-icon
      position: relative
      display: inline-block
      height: 1em
      width: 1ch
      margin-right: 14px
      svg
        position: absolute
        top: 22%
        left: 0
        height: 1.334em
        vertical-align: bottom
      &__text
        display: block
        margin-top: -0.2em
    &.icon-login-gp
      svg
        width: 16px
    &.icon-login-fb
      svg
        top: 10%
        left: 50%
        width: 8px
  &.disabled
    cursor: not-allowed
    .SocialLogin__item
      pointer-events: none
      &.icon-svg
        fill: #d1dbe2
