.PostDummy
  display: flex
  flex-direction: column
  border: 1px solid #f6f8f9
  width: 100%
  min-height: 500px
  justify-content: center
  align-items: center
  border-radius: 3px
  padding: 20px
  @media (max-width: 768px)
    min-height: 400px
  &__img
    object-fit: cover
    max-width: 100%
    max-height: 100%
    margin-bottom: 35px
  &__text
    font-size: 1.5em
    color: #b1b9c0
    line-height: 1
    text-align: center
