.AuthPage
  $padding: 30px
  $aside-width: 382px
  display: flex
  align-items: stretch
  &__aside
    position: fixed
    display: flex
    flex-direction: column
    justify-content: center
    width: $aside-width
    min-height: 100vh
    padding: $padding
    background-size: cover
    background-image: url('/assets/img/authorization/aside-0.jpg')
    color: #fff
    .Logo
      position: absolute
      top: $padding
      left: $padding
      width: 40px
      height: 40px
    .heading
      font-weight: 500
      font-size: 2.6em
      margin: 0
    p
      margin-top: 20px
      font-size: 1.25em
  &__content
    width: 390px
    margin: 174px auto 50px
    &-container
      width: calc(100% - #{$aside-width})
      margin-left: $aside-width
  &__nav
    .Tabs
      border-bottom: 1px solid #f1f1f1
      &__item
        position: relative
        &::after
          content: ''
          position: absolute
          top: 100%
          left: 0
          width: 0
          height: 1px
          background-color: #7352a1
          transition: all .3s ease-in-out
        &:first-of-type
          &::after
            right: 0
            left: unset
        &.isActive
          border-bottom-color: transparent
          &::after
            width: 100%
  &.type-signUp.role-fan
    .AuthPage__aside
      background-image: url('/assets/img/authorization/aside-1.jpg')
  .RestoreAccess
    &__backButton
      font-size: 12px
      font-weight: 500
      position: relative
      display: inline-block
      padding-left: 14px
      cursor: pointer
      transition: all .3s ease-in-out
      letter-spacing: 1.2px
      text-transform: uppercase
      color: rgba(#637280, .5)
      &::before
        content: ''
        position: absolute
        top: 4px
        left: 0
        width: 4px
        height: 4px
        transform: rotate(-45deg)
        border-top: 2px solid #637280
        border-left: 2px solid #637280
      &:hover
        color: #637280
    &__title
      font-size: 18px
      font-weight: 500
      line-height: 23px
      margin-top: 60px
      color: #000
