@import '~@components/Chat/ChatButton/ChatButton.sass'

.UsersGrid
  &__list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 14px
    &-item
      min-width: 100%
      padding: 20px
      border: 1px solid #d1dbe2
      border-radius: 5px
      .UserIconWithName
        font-size: .88em
        .Avatar
          width: 150px
          height: 150px
        &-name
          color: #000
        &-nickname
          margin-top: 6px
          color: rgba(#637280, .5)
      &-table
        margin: 20px 0 26px
        table
          width: 100%
          font-size: .87em
          tr
            &:not(:last-of-type)
              td
                padding-bottom: 15px
          td
            &:not(:last-of-type)
              padding-right: 5px
            &:nth-of-type(1)
              color: rgba(#637280, .5)
      &-controls
        &.type-common
          $buttons-gap: 10px
          .SubscribeButton-mode-unsubscribe
            width: calc(100% - #{$small-chatButton-size + $buttons-gap})
            padding-left: 0
            padding-right: 0
          .ChatButton
            margin-left: $buttons-gap
          .SubscribeButton-mode-upgrade
            display: block
            width: 100%
            margin-top: 10px
        &.type-favorite
          .Button
            width: 100%
    &-user-link
      display: block
      width: 100%
      height: 100%
