.ProfileLink
  display: flex
  flex-direction: row
  align-items: center
  text-align-last: left
  .Avatar
    width: 57px
    height: 57px
    margin: 0 20px 0 0
    flex-shrink: 0
  &.size-sm
    .Avatar
      width: 40px
      height: 40px
      margin: 0 10px 0 0
  &__DisplayName
    &-name
      display: block
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      color: #000
      font-size: 14px
      line-height: 18px
    &-nick
      display: block
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      color: rgba(99, 114, 128, .5)
      font-size: 12px
      line-height: 18px
