.SelectTariffModal
  width: 100%
  max-width: 978px
  padding: 46px 60px 60px
  text-align: center
  &__title
    display: flex
    align-items: center
    justify-content: center
    &-text
      margin-left: 17px
      font-size: 1.5em
      font-weight: 500
  &__row
    display: flex
    align-items: flex-start
    justify-content: center
    margin-top: 45px
  &__footer
    margin-top: 60px
    font-size: .9em
  .Tariff
    &:not(:last-child)
      margin-right: 18px
