.UsersList
  text-align: start
  &.layout-horizontal
    position: relative
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    margin-bottom: 24px
    z-index: 1
    .UsersListItem
      width: 82px
      height: 82px
      &.hidden
        display: list-item
        height: 0
        visibility: hidden
      a,
      .Avatar
        width: 100%
        height: 100%
      .Avatar
        border-radius: 10px
  &.layout-vertical
    .UsersListItem
      a
        display: flex
        align-items: center
        padding: 10px 20px
      .Avatar
        margin-right: 20px
      &__container
        overflow: hidden
        text-overflow: ellipsis
      &__name
        color: #000
        font-weight: 500
      &__nickname
        color: rgba(#637280, .5)
        font-size: .85em


