.rangeslider-horizontal {
  height: 1px;
  background-color: rgb(209, 219, 226);

  .rangeslider__handle {
    width: 12px;
    height: 12px;
    cursor: pointer;
    background-color: rgb(99, 114, 128);
    box-shadow: rgba(0, 0, 0, 0.18) 0 2px 4px 0;
    
    &::after {
      display: none;
    }
  }
}
