.hidden-ctrl
  .ril__toolbar
    opacity: 0

.ril__toolbar
  opacity: 1
  transition: opacity .3s ease-in-out

.ril__navButtons
  width: 10%
  height: 100%
  transition: all .3s ease-in-out
  background-color: transparent
  &:hover
    background-color: rgba(#000, .2)

.ril-prev-button
  background-position: 10px 50%

.ril-next-button
  background-position: calc(100% - 10px) 50%

