.PostFooter
  font-size: 14px
  line-height: 18px
  &__item
    display: inline-block
    color: rgba(99, 114, 128, .5)
    cursor: pointer
    &:not(:last-child)
      margin-right: 25px
    &:hover
      color: #7352a1
    & > *
      transition: all .2s ease-in-out
  &__likes
    &.isLiked
      color: #7352a1
