.Logo
  .ninety
    fill: url(#SVGID_1_)

  .ninety-gradient
    opacity: 0.9
    fill: url(#SVGID_2_)

  .nine
    fill: url(#SVGID_3_)

  .triangle
    fill: url(#SVGID_4_)

  .triangle-gradient
    fill: url(#SVGID_5_)

  .vids *
    fill: #000

  &.theme-light
    *
      fill: #fff !important
