.modelAvatarUploadDialog {
  color: #fff;
  padding: 40px;
  max-width: 100vw;
  & > .heading {
    margin-bottom: .6em;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    color: #fff;
  }
  &__content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    & > .examples {
      position: relative;
      height: 270px;
      width: 320px;
      margin-right: 20px;
      .examples__titles {
        position: absolute;
        top: -1px;
        left: 0;
        right: 20px;
        padding-right: 10px;
        text-align: center;
        display: flex;
        padding-bottom: 10px;
        background: rgb(115,82,161);
        background: linear-gradient(180deg, rgba(115,82,161,1) 0%, rgba(115,82,161,1) 55%, rgba(115,82,161,0.8057598039215687) 82%, rgba(115,82,161,0.1334908963585434) 100%);
        z-index: 1;
        & > * {
          width: 50%;
          & > .icon {
            vertical-align: top;
            width: 18px;
            margin-right: 10px;
          }
        }
      }
      .examples__photos {
        height: 100%;
        padding-right: 20px;
        overflow-y: auto;
        img {
          display: block;
          width: 100%;
        }
        &::after {
          content: '';
          position: absolute;
          right: 30px;
          bottom: 0;
          left: 0;
          height: 20px;
          display: block;
          background: linear-gradient(180deg, rgba(115, 82, 161, 0) 0%, #7352A1 100%);
        }
      }
    }
    & > .dropZone {
      max-width: 100%;
      width: 320px;
      height: 330px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      background: rgba(209, 219, 226, 0.1);
      border: 1px solid rgba(255, 255, 255, .33);
      border-radius: 5px;
      cursor: pointer;
      & > .icon,
      & > .text {
        opacity: .5;
      }
      & > .icon {
        height: 60px;
        width: auto;
        fill: #fff;
      }
      &:hover {
        border-color: rgba(255, 255, 255, .55);
        & > .icon,
        & > .text {
          opacity: .7;
        }
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
    & > .mobileUploadButton {
      width: initial;
      font-size: 12px;
      padding: 12px 33px;
      @media (min-width: 768px) {
        display: none;
      }
    }
    @media (max-width: 767px) {
      flex-flow: column nowrap;
      & > .examples {
        margin-bottom: 20px;
        margin-right: 0;
      }
    }
  }
}
