@import 'variables'

.Modal
  position: relative
  z-index: 999
  overflow: visible
  height: auto
  margin: 0 auto
  border-radius: $modal-border-radius
  vertical-align: middle
  display: inline-block
  text-align: start
  pointer-events: all
  @media (max-width: 767px)
    width: calc(100vw - 40px)
  &__overlay
    position: fixed
    z-index: 999
    top: 0
    left: 0
    overflow: auto
    width: 100%
    height: 100%
    padding: 20px 0
    text-align: center
    outline: 0
    background-color: rgba(0,0,0,.8)
    -webkit-overflow-scrolling: touch
    &::before
      content: ''
      font-size: 0
      display: inline-block
      width: 0
      height: 100%
      vertical-align: middle
  &__container
    position: relative
    display: inline-block
    vertical-align: middle
    width: 100%
    max-width: 958px
    pointer-events: none
  &__close
    position: absolute
    top: 15px
    right: 15px
    width: 12px
    height: 12px
    z-index: 10
    cursor: pointer
    svg.icon
      stroke: none
      fill: currentColor
  &__title
    font-size: 24px
    font-weight: 400
    line-height: 32px
    color: #fff
  &__footer
    display: flex
    flex-flow: row nowrap
    justify-content: center
    margin-top: 25px
  &.theme-purple
    background-color: #7352a1
    color: #fff
    a:not(.Button)
      color: #fff
  &.theme-light
    background-color: #fff
