.SubscribeCongratsModal
  padding: 60px
  text-align: start
  @media (max-width: 767px)
    padding: 25px
    text-align: center
  &__content
    display: flex
    flex-flow: row nowrap
    @media (max-width: 767px)
      flex-flow: column nowrap
  &__avatar
    width: 100%
    max-width: 91px
    margin: 35px auto 0
    background: unset
    @media (min-width: 768px)
      display: none
  &__text
    font-size: 14px
    margin: 15px 0
  &__image
    display: block
    width: 100%
    max-width: 300px
    @media (max-width: 767px)
      display: none
  &__okButton
    margin-top: 30px
    min-width: 130px
  &__modelCard
    position: relative
    width: 206px
    height: 300px
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    margin-left: 130px
    border-radius: 5px
    overflow: hidden
    @media (max-width: 767px)
      display: none
    &-name
      position: absolute
      right: 0
      bottom: 0
      left: 0
      padding: 40px 20px 20px
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 98.46%)
      text-align: center
      font-weight: 500
      font-size: 14px
      word-break: break-word
