.LockedContentPlug
  display: flex
  flex-flow: column nowrap
  justify-content: center
  align-items: center
  color: #fff
  cursor: pointer
  .icon
    width: 28px
    height: 28px
    margin-bottom: 10px
    fill: #fff
    stroke: rgba(99, 114, 128, .5)
  &__text
    margin-bottom: 10px
    text-shadow: rgba(99, 114, 128, .5) 2px 0 0, rgba(99, 114, 128, .5) 1.75517px 0.95885px 0, rgba(99, 114, 128, .5) 1.0806px 1.68294px 0, rgba(99, 114, 128, .5) 0.14147px 1.99499px 0, rgba(99, 114, 128, .5) -0.83229px 1.81859px 0, rgba(99, 114, 128, .5) -1.60229px 1.19694px 0, rgba(99, 114, 128, .5) -1.97998px 0.28224px 0, rgba(99, 114, 128, .5) -1.87291px -0.70157px 0, rgba(99, 114, 128, .5) -1.30729px -1.5136px 0, rgba(99, 114, 128, .5) -0.42159px -1.95506px 0, rgba(99, 114, 128, .5) 0.56732px -1.91785px 0, rgba(99, 114, 128, .5) 1.41734px -1.41108px 0, rgba(99, 114, 128, .5) 1.92034px -0.55883px 0
