.Post
  position: relative
  padding: 20px
  margin-top: 5px
  &:not(:last-of-type)
    border-bottom: 1px solid #f1f1f1
  &-top
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin-bottom: 5px
  &-body
    margin-bottom: 10px
  &-text
    font-size: 14px
    line-height: 18px
    color: #000
    white-space: pre-wrap
    word-wrap: break-word
    word-break: keep-all
    hyphens: manual
    overflow-wrap: break-word
    line-break: auto
