.ModelCardActions
  position: absolute
  bottom: 25px
  right: 0
  left: 0
  display: flex
  justify-content: center
  align-items: center
  button
    width: 65px
    height: 65px
    padding: 0
    border: none
    border-radius: 50%
    background: #616fce
    box-shadow: 0 2px 18px 0 rgba(#000, .1)
    pointer-events: auto
    color: #fff
    transition: all .3s ease
    &:not(:first-child)
      margin-left: 30px
    svg
      margin-top: 1px
      &.icon
        &-envelope
          width: 26px
          height: 19px
        &-tips
          width: 36px
          height: 32px
    &:hover
      background: #7352a1
      box-shadow: 0 2px 18px 0 rgba(#fff, .1)
