.SelectQuality
  display: flex
  flex-direction: row
  align-items: center
  position: relative
  padding-left: 10px
  &.isOpened
    .SelectQuality__title
      .icon-svg
        transform: rotate(20deg)
    .SelectQuality__drop
      opacity: 1
      visibility: visible
    &.SelectQuality__layer
      display: block
  &__layer
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: transparent
    z-index: 1
  &__holder
    display: flex
    width: 100%
    height: 100%
    flex-direction: row
    align-items: center
    position: relative
    z-index: 2
  &__title
    padding: 5px
    &:hover
      box-shadow: inset 0 0 1em rgba(255, 255, 255, 0.1)
    svg
      transition: all .1s linear
      width: 16px
      height: 16px
      fill: #fff
  &__drop
    transition: all .2s linear
    position: absolute
    bottom: 100%
    right: 0
    opacity: 0
    visibility: hidden
    background-color: rgba(43, 51, 63, 0.7)
    border-radius: .3em
    padding: 10px 0
    &-item
      font-size: 14px
      display: block
      width: 100%
      padding: 0 20px 0 25px
      margin-bottom: 10px
      text-align: right
      position: relative
      sup
        color: #cc0000
        position: absolute
        right: 3px
        top: 0
        font-size: 10px
      @media (max-width: 768px)
        margin-bottom: 5px
        font-size: 12px
      &.selected
        &::before
          content: ''
          display: block
          position: absolute
          height: 8px
          width: 4px
          border-bottom: 1px solid #fff
          border-right: 1px solid #fff
          transform: rotate(45deg)
          top: 1px
          left: 12px
      &:last-child
        margin-bottom: 0
      &:hover
        text-shadow: 0 0 1em rgba(255, 255, 255, 0.5)
