.Notice
  position: relative
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  padding: 12px 20px
  margin-bottom: 1.5em
  border-radius: 5px
  &.withIcon
    padding: 12px 20px 12px 70px
  &-icon
    position: absolute
    top: 10px
    left: 20px
    width: 40px
    padding: 7px
    & > svg
      display: block
      width: 100%
      height: 100%
      fill: #7ED321
  &-contents
    font-size: 12px
    line-height: 18px
    b
      font-weight: 500
  &-buttons
    margin-top: 6.4px
  &--status-info
    background: rgba(126, 211, 33, .05)
    border: 1px solid rgba(126, 211, 33, .16)
  &--status-fail
    background: rgba(214, 37, 58, .05)
    border: 1px solid rgba(208, 2, 27, .16)
    .Notice-icon > svg
      fill: #D0021B
  &--status-success
    background: rgba(37, 214, 55, 0.05)
    border: 1px solid rgba(9, 208, 2, 0.16)
  &--status-gray
    background: #F1F1F1
    color: #637280
    border: none
