.DropdownMenu
  display: inline-block
  //align-items: center
  //justify-content: center
  position: relative
  width: 23px
  height: 23px
  line-height: 0
  cursor: pointer
  &__toggler
    display: inline-block
    width: 100%
    height: 100%
    padding: 4px 0
    color: rgba(99, 114, 128, .5)
    .icon
      transition: all .3s ease-in-out
  &__drop
    display: none
    position: absolute
    top: calc(100% + 2px)
    right: 0
    z-index: 3
    margin: 0
    padding: 0
    text-align: left
    border-radius: 10px
    background: #fff
    box-shadow: 0 0 29px 10px rgba(37, 38, 94, .08)
  &__Option
    position: relative
    color: rgba(99, 114, 128, .5)
    button
      display: flex
      flex-direction: row
      align-items: center
      position: relative
      font-size: 12px
      line-height: 15px
      white-space: nowrap
      letter-spacing: 1.2px
      text-transform: uppercase
      color: inherit
      cursor: pointer
      padding: 15px
    &-label
      transition: all .3s ease-in-out
    &-icon
      width: 14px
      height: 14px
      margin-right: 5px
      transition: all .3s ease-in-out
      vertical-align: middle
      fill: currentColor
    &:not(:last-child)::before
      content: ''
      position: absolute
      bottom: 0
      left: 15px
      width: calc(100% - 30px)
      height: 1px
      background-color: rgba(209, 219, 226, .4)
    &:hover
      color: #637280
  &.isOpened
    .DropdownMenu__drop
      display: block
  &:hover,
  &.isOpened
    .DropdownMenu__toggler
      color: #637280
