.ModelCardAvatar
  position: relative
  height: 560px
  background: #637280
  pointer-events: none
  &.isDummy
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center
    &.isOwn
      cursor: pointer
      pointer-events: auto
    svg.icon
      position: absolute
      bottom: 0
      left: 50%
      width: 90%
      height: 80%
      transform: translateX(-50%)
  &__text
    margin-top: 100px
    font-size: 1.3em
    font-weight: 700
    color: #fff
    text-shadow: 1px 1px 10px rgba(#000, .4)
    z-index: 1
  .Img img
    object-position: top
